*{
  margin : 0;
  padding : 0;
  color : #fff;
}

a{
  color : #fff;
  text-decoration : none;
}

ul , ol {
  list-style: none;
}

.hide {
  display : none;
}

.kanban_wrap {
  display : flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding : 16px;
  background-color : #0D1216;
}


html{
  background-color : #0D1216;
}

main {
  background-color : #0D1216;
}

header {
  background-color : #03040A;
}